* {
    font-family: "Lucida Sans", sans-serif;
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}

.flex-container > div {
    background-color: #2F4C8C;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: white;
}

.flex-container-column > characteristics {
    background-color: #2F4C8C;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: white;
}

.flex-container > button {
    background-color: #2F4C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flex-container-column > examples {
    width: 500px;
    height: 100px;
    text-align: center;
    background-color: aqua;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:  lightblue;
    text-decoration:    none;
    cursor: pointer;
}

a.active {
    color:  lightblue;
}

#Filter {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

.anzeige {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-content: center;
}

.anzeige > div {
    border: 1px solid black;
    background-color: #8db3ff;
    margin: 1rem;
}
.calendar_link {
	font-family: "Lucida Sans", sans-serif;
	font-size: 120px;
	text-align: center;
	color: #2e61a5;
	text-decoration: none;
    text-underline: none;
    align-self: stretch;
}

.calendar_head {
	font-family: "Lucida Sans", sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
    width: 120px;
    align-self: stretch;
}

.calendar_head_month {
	font-family: "Lucida Sans", sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	width: 120px;
	background-color: #2F4C8C;
    color: #FFFFFF;
    align-self: stretch;
}

.calendar_day {
	font-family: "Lucida Sans", sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	width: 120px;
	color: #9acdf6;
    background-color: #0c1d42;
    align-self: stretch;
}

.calendar_entry {
	font-family: "Lucida Sans", sans-serif;
	font-size: 60px;
    text-align: center;
    align-self: stretch;
}
